.name {
  margin-left: 5%;
  margin-top: 2%;
  font-size: 220%;
  font-weight: bold;
}
img {
  margin: 0 25%;
  padding: 2% 0;
  height: 100%;
  width: 50%;
  border-radius: 25%;
}
.mainNav{
  background-color: rgb(71, 69, 69);
}
.navUl {
  padding: 10px 0;
}
.navUl li {
  display: inline-block;
  width: 30%;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  color: aliceblue;
}
.navUl li a {
  color: aliceblue;
  text-decoration: none;
}
.navUl li a:hover {
  text-decoration: underline;
}
.intro {
  margin: 2% 5%;
}
.hobbies {
  padding: 2% 5%;
}
h3 {
  padding: 2% 5%;
}
.sports {
  padding: 2% 5%;
}
.sportsman {
  padding: 2% 5%;
}
.row,
.col-3 {
  border: 1px solid black;
}
.mainRow{
  border: 3px solid black;
}
.experiences {
  padding: 2% 5%;
}
.academics{
  margin: 0 3%;
}
