.name {
  font-size: 200%;
  font-weight: bold;
  margin-left: 2%;
}
img {
  float: right;
  object-fit: fill;
  height: 2%;
  width: 10%;
  border-radius: 25%;
  margin-right: 2%;
}
.nav-item {
  padding-right: 20%;
  padding-left: 20%;
}
.nav-link {
  color: aliceblue;
}

.intro {
  margin: 2% 5%;
}
.hobbies {
  padding: 2% 5%;
}
h3 {
  padding: 2% 5%;
}
.sports {
  padding: 2% 5%;
}
.sportsman {
  padding: 2% 5%;
}
.row,
.col-3 {
  border: 2px solid black;
}
.experiences {
  padding: 2% 5%;
}
